@model List<OnlineStoreModel.CustomModels.ProductModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h4 class="text-center">Your Products</h4>
    <div class="d-flex justify-content-end">
        @Html.ActionLink("Add Product","AddProduct", "Owner", new { @class="btn btn-sm my-4 btn-primary"})
    </div>
    <table class="table">
        <tr>
            <th>
                Product
            </th>
            <th class="w-50">
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Category
            </th>
            <th>
                Sub-Category
            </th>
            <th>
                Available
            </th>
            <th>
                Action
            </th>
        </tr>
    
        @foreach (var item in Model) {
            <tr>            
                <td>
                    @item.ProductName
                </td>
                <td>
                    @item.ProductDescription
                </td>
                <td>
                    @item.ProductPrice
                </td>
                <td>
                    @item.Category
                </td>
                <td>
                    @item.SubCategory
                </td>
                @{
                    if (item.Availability)
                    {
                        <td>Yes</td>
                    }
                    else
                    {
                        <td>No</td>
                    }
                }
                <td class="d-flex flex-nowrap gap-2">
                    @Html.ActionLink("Edit", "EditProduct", new { @productID = item.ProductID }, new { @class = "btn btn-sm btn-primary" })
                    @Html.ActionLink("Delete", "DeleteProduct", new { @productID = item.ProductID }, new { @class = "btn btn-sm btn-danger" })
                </td>
            </tr>
    }
    
    </table>