@model OnlineStoreModel.CustomModels.FilterOrderModel

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


<script>
    function resetDate() {
        $('#date-form')[0].reset()
    }
</script>

<form method="get" action="/Order/GetRecievedOrders" id="date-form">
    <div class="d-flex flex-column flex-xl-row justify-content-xl-end gap-3 align-items-center align-items-xl-end mb-5 p-4">
        <div class="row mx-0 px-0">
            <div class="col-lg-6 col-12">
                <p class="mb-0">Look specific to product</p>
                <select name="productID" class="form-control" >
                    <option>Select a product</option>
                    @{ foreach (var product in Model.ProductList)
                                    {
                        <option value="@product.ProductID">@product.ProductName</option> } }
                </select>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <p class="mb-0">Start Date</p>
                <input type="Date" name="startDate" id="startDate" class="form-control" />
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <p class="mb-0">End Date</p>
                <input type="Date" name="endDate" id="endDate" class="form-control" />
            </div>
        </div>
        <div class="d-flex gap-2 flex-wrap">
            <button id="apply-btn" type="submit" class="btn btn-primary">Apply</button>
            <button class="btn btn-primary" onclick="resetDate()" type="button">
                <i class="fa-solid fa-rotate-left"></i>
            </button>
            @Html.ActionLink("Get pdf", "GeneratePDF", "Order", null,  new { @class="btn btn-info"})
        </div>
    </div>
</form>

<div class="px-4 table-responsive">
    <h3 class="mb-5 fw-bold text-center">Order Details</h3>
    <table class="table table-borderless text-nowrap">
        <thead class="table-primary">
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Order Placer</th>
                <th>Order Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @{ 
                if (Model != null && Model.OrderList.Count() != 0) {
                    foreach (var item in Model.OrderList)
                    {
                        <tr>
                            <td>@item.ProductName</td>
                            <td>@item.ProductQuantity</td>
                            <td>@item.UserEmail</td>
                            <td>@item.OrderDate</td>
                            <td>
                                <button class="btn btn-primary">Delivered</button>
                            </td>
                        </tr>
                    }
                }
                else {
                    <tr><td colspan="5" class="text-center fw-bold">No Data Available!</td></tr>
                }
            }
        </tbody>
    </table>
</div>
