@model List<OnlineStoreModel.CustomModels.OwnerModel>

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @foreach (var shop in Model)
    {
        <div class="card mb-4">
            <h5 class="card-header bg-primary-subtle">@shop.Shopname</h5>
            <div class="card-body">
                <h5 class="card-title">@shop.Description</h5>
                <p class="card-text">Address: @shop.City, @shop.State</p>
                <div class="text-end">
                    @Html.ActionLink("Browse Products", "GetAllProducts", "Product", new { @shopID = shop.OwnerID } , new { @class = "btn btn-sm btn-primary" })
                </div>
            </div>
        </div>
    }
</div>