@model List<OnlineStoreModel.CustomModels.OrderHistoryModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3 class="mb-5 fw-bold text-center">Order Details</h3>
    <table class="table table-borderless">
        <thead>
            <tr>
                <th>Product</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.ProductPrice</td>
                    <td>@item.ProductQuantity</td>
                    <td>@(@item.ProductPrice * @item.ProductQuantity)</td>
                </tr>
            }
        </tbody>
    </table>
</div>