@model OnlineStoreModel.CustomModels.CouponModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3 class="text-center mb-5">Add Coupon</h3>
    <form method="post">
        <div class="row">
            <div class="col">
                <div class="form-floating mb-3">
                    @Html.TextBoxFor(p => p.CouponName, new { @class = "form-control", @placeholder = "" })
                    @Html.LabelFor(p => p.CouponName, "Coupon Name")
                    @Html.ValidationMessageFor(p => p.CouponName, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    @Html.TextBoxFor(p => p.CouponDiscount, new { @class = "form-control", @placeholder = "", @type = "number", @step = "0.01", @max="100", @min="0" })
                    @Html.LabelFor(p => p.CouponDiscount, "Discount")
                    @Html.ValidationMessageFor(p => p.CouponDiscount, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    @Html.TextBoxFor(p => p.CouponExpiry, new { @class = "form-control", @type = "date" })
                    @Html.LabelFor(p => p.CouponExpiry, "Expiry")
                    @Html.ValidationMessageFor(p => p.CouponExpiry, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    @Html.TextBoxFor(p => p.MinimunPurchase, new { @class = "form-control", @placeholder = "", @type = "number", @step = "0.01", @min = "0" })  
                    @Html.LabelFor(p => p.MinimunPurchase, "Minimum Purchase")
                    @Html.ValidationMessageFor(p => p.MinimunPurchase, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3 border p-3 rounded-3">
                    <span>Active ? &nbsp;</span>
                    @Html.CheckBoxFor(p => p.Active, new { @class = "form-check-input ms-auto" })
                </div>
            </div>            
        </div>
        <div class="d-flex justify-content-center gap-2 mt-5">
            @{
                if (Model == null)
                {
                    <button type="submit" class="btn btn-success ">Add</button>
                }
                else
                {
                    <button type="submit" class="btn btn-success ">Save</button>
                }
            }
            @Html.ActionLink("Cancel", "Coupons", "Coupon", null, new { @class = "btn btn-secondary" })
        </div>
    </form>
</div>